<div class="form-container">
  <form [formGroup]="formMember" (ngSubmit)="addMember()">
    <ion-item>
      <ion-input label="Correo" formControlName="email" />
    </ion-item>
    <ion-item>
      <ion-input label="Nombre" formControlName="name" />
    </ion-item>
    <ion-item>
      <ion-input label="Año publicacion" formControlName="registrationDate" />
    </ion-item>
    <ion-button type="submit">Guardar</ion-button>
    <ion-button (click)="editMember()">Guardar edición</ion-button>
  </form>
</div>
<div class="show-data-container">
  <table>
    <thead>
      <tr>
        <th>Correo</th>   
        <th>Nombre</th>
        <th>Fecha de registro</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let b of members">
        <td>{{ b.email }}</td>
        <td>{{ b.name }}</td>
        <td>{{ b.registrationDate }}</td>
        <ion-button (click)="deleteMember(b.id)">Borrar</ion-button>
        <ion-button (click)="addInfoInForm(b, b.id)">Editar</ion-button>
      </tr>
    </tbody>
  </table>
</div>